.edit-container {
    margin: 0px auto;
    text-align: center;
    padding: 50px;
    background-color: white;
    width: 400px;
}

.cancel-edit {
    width: 200px;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

.edit-title {
    font-size: 40px;
    font-family: Abril Fatface;
    margin: 0px auto;
}

td {
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    text-align: center;
}

.employe-table {
    align-items: center;
    border: 3px solid #0A87F7;
    text-align: center;
}

.listing-table-heading {
    background-color: #0003;
    font-family: Rubik Dirt;
    font-size: 30px;
    border-bottom: 5px;
}

.add-Button {
    width: 200px;
    margin-left: 90em;
    top: 130px;
    position: absolute;
}

.status-message {
    text-align: center;
    color: green;
}

span {
    color: red;
}

.show-table {
    text-align: center;
    margin: 0px auto;
}

.show-heading {
    background-color: #0002;
}

.show-title {
    font-size: 30px;
    font-family: Abril Fatface;
}

.index-container {

    margin-top: 70px;
    /* margin-left: 100px; */
    border: 5px double grey;
    border-radius: 10px;
}

.outer-container {
    position: relative;
    margin-right: 50px;
    margin-left: 50px;

}

th {
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

table {
    margin-right: 20px;
    padding: 20px;
}